---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  color:#3E2C41;
}

h2, h3, h4, h5, h6 {
  color:#5C527F;
}

a {
  color:#6E85B2;
  text-decoration: underline;
}

a:hover, a:focus {
  color:#069;
  font-weight: normal;
}

h1 a {
  color:#3E2C41;
  text-decoration: none;
}

h1 a:hover, a:focus {
  font-weight: bold;
}

a small {
  color:#777;
}

a:hover small {
  color:#777;
}

div.toc p {
  margin: 0;
}

div.toc p.last {
  margin: 0 0 25px;
}

div#banner { 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: #3E2C41;
  color: white;
  font-weight: bold;
  width: 100%; 
}

div#banner a {
  color: white;
}

div#banner a:hover {
  color: white;
  font-weight: bold;
}

div#banner-content { 
  margin: 0 auto; 
  padding: 10px; 
  display: flex;
  justify-content: center;
}


.subscribe {
  background-color: #FEC260;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
}
