<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
  	  <div id="banner">
		<div id="banner-content">
		  <a href="/oregon/washington-county/land-use-letter">Sign our Letter to Restrict Gas Stations in Washington County Oregon!</a>
		  </div>
	  </div>
    <div id="main-content" class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
	<h5>Gas/Fuel/Service Station Land Use & Zoning for an EV World</h5>

	<div class="toc">
	<p><a href="/#our-mission">Our Mission</a></p>
	<p><a href="/#land-use-and-zoning">Land Use &amp; Zoning</a></p>
	<p><a href="/gas-station-land-use-codes">Example Municipal Codes</a></p>
	<p><a href="/gas-station-responsible-parties">Responsible Party Searches</a></p>
	<p><a href="/reports">Data &amp; Reports</a></p>
	<p><a href="/regional-data">Regional Data</a></p>
	<p><a href="/regulatory-guidance">Regulatory Guidance</a></p>
	<p class="last"><a href="/articles">News Articles</a></p>
	</div>


	<h2>Stay in Touch</h2>
	<p>✉️ <a href="/signup"><em>Subscribe to the Newsletter</em></a></p>
	<p>🐦<a href="https://twitter.com/postpumporg"><em>Follow on Twitter</em></a></p>

      </header>

      <section>
      <p>{% include breadcrumbs.html %}</p>

      {{ content }}

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
